* {
    box-sizing: border-box;
    min-width: 0;
}

body {
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    min-height: 100dvh;
    max-height: 100dvh;
    margin: 0;
    grid-template-columns: minmax(300px, 400px) 1fr;
    grid-template-rows: 115px 1fr;
    grid-template-areas: 
        "aside header "
        "aside content ";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside{
    grid-area: aside;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 110px 1fr 1fr;
    background-color: #FDFBF6;
    border-right: 1px solid #ccc;
}

aside img {
    width: 100%;
}

aside span{
    font-size: 45px;
    justify-self: center;
}

aside .bloque{
    margin:40px;
    font-size: 30px;
}
aside a{
    text-decoration: none;
    color: #3C3C3C;
    font-size: 30px;
}

.lista {
    display: block;
    margin: 15px;
    padding: 5px;
    transition: transform 150ms;
}

.lista svg{
    padding-top: 4px;
}

.lista:hover{
    transform: translatex(3px);
}

.lista:hover a, .lista:hover g{
    color: #593cff;
    fill: #593cff;
}

aside .bloque:last-child{
    align-self: end;
    margin-bottom: 50px
}


header{
    grid-area: header;
    display:grid;
    grid-template-columns: 1fr 280px 120px;
    background-color: #FDFBF6;
    grid-template-areas: 
        "notas datos img";
    align-items: center;
}

header img{
    height: 90%;
    width: 90%;
    grid-area: img;
    object-fit: contain;
}

header h2{
    grid-area: notas;
    margin: 0;
    margin-left: 30px;
    font-size: 40px
}

header .bloque{
    grid-area: datos;
    justify-self: end;
    margin-right: 20px;
    font-size: 20px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}
header a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 3px;
    cursor: default;
    transition: 150ms all;
}

header a:first-child{
    font-weight: bold;
}

header a:hover{
    color: #593cff;
}


content{
    grid-area: content;
    background: linear-gradient(90deg, rgba(103,97,242,1) 0%, rgba(241,81,81,1) 100%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: minmax(min-content,1fr);
    grid-template-areas: 
        "notas notas promedio"
        "notas notas promedio"
        "asignatura . .";
    gap: 50px;
    padding:80px 110px;
    overflow-y: auto;
    max-height: 100dvh;
    &::-webkit-scrollbar {
        width: 13px;
        background-color: rgba(241,81,81,1);
        border-radius: 150px;
      }
    
    &::-webkit-scrollbar-thumb{
        border-radius: 150px;
        background-color: #222a30;
    }
    
    &::-webkit-scrollbar-thumb:hover{
        background-color: #593cff;
    }

    h3{
        font-size: 30px;
        display: inline;
        margin: 0;
    }
}

.card {
    background-color: #FDFBF6;
    border-radius: 15px;
    transition: transform .1s;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    &:hover{
        transform: scale(102%);
    }
}

.card:first-child{
    grid-area: notas;
    height: min-content;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    section:first-child{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 100px;
        grid-template-rows: 1fr;
        h3{
            font-size: 50px;
            display: inline;
            cursor: default;
        }
        span{
            justify-self: center;
            align-self: end;
            font-size: 20px;
            cursor: default;
        }
    }
    section:last-child{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 100px;
        grid-template-rows: 1fr;

        #asignaturas{
            font-size: 30px;
            padding: 0;
            margin: 12px 0 0 0;
            li{
                list-style-type: none;
                padding: 5px;
                border-bottom: 2px dashed #e0e0e0;
                transition: 100ms all;
                &:hover{
                    color: #593cff;
                    border-bottom: 2px dashed #593cff;
                }
            }
        }
        #notas{
            justify-self: center;
            font-size: 30px;
            padding: 0;
            font-weight: 600;
            margin: 12px 0 0 0;
            cursor: default;
            li{
                list-style-type: none;
                border-bottom: 2px dashed transparent;
                padding: 5px;
            }
        }
    }
}

.card:nth-child(2){
    grid-area: promedio;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    padding: 20px;

    .promedio{
        font-size: 140px;
        justify-self: center;
        align-self: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        transition: 150ms all;
        cursor: default;
    }
    h3{
        font-size: 35px;
        justify-self: center;
        cursor: default;
    }
    &:hover{
        .promedio{
            color: #5638ff;
        }
    }
}



@media (max-width: 1500px){

    content{
        gap: 20px;
        padding:50px 80px;
    }

    .card:first-child{
        padding: 25px;
    
        section:first-child{
            h3{
                font-size: 40px;
            }
            span{
                font-size: 20px;
            }
        }
        section:last-child{
            #asignaturas{
                font-size: 25px;
            }
            #notas{
                font-size: 25px;
            }
        }
    }
    
    .card:nth-child(2){
        .promedio{
            font-size: 110px;
        }
        h3{
            font-size: 25px;
        }
    }
    

    body {
        grid-template-columns: 300px 1fr;
        grid-template-rows: 80px 1fr;
    }

    aside {
        grid-template-rows: 25px 70px 1fr 1fr;
    }

    aside span{
        font-size: 35px;
        justify-self: center;
    }
    
    aside .bloque{
        margin:17px;
    }
    aside a{
        text-decoration: none;
        color: #3C3C3C;
        font-size: 21px;
    }

    .lista svg{
        width: 27px;
        height: 27px;
    }

    header {
        grid-template-columns: 1fr 200px 80px;
    }

    header img{
        height: 90%;
        width: 90%;
        grid-area: img;
        object-fit: contain;
    }
    
    header h2{
        margin-left: 25px;
        font-size: 25px
    }
    
    header .bloque{
        margin-right: 30px;
        font-size: 13px;
        padding: 0;
        list-style-type: none;
    }
    header a{
        text-decoration: none;
        color: black;
        display: block;
        margin: 3px;
    }
}