{%extends "editarCursos.html"%}
{%block links%}
<h2 class="headerlink"><a href="{% url 'perfil_ri' id %}"></a>Académico</h2><h2> > <h2 class="headerlink"><a href=""></a>Periodo</h2>
{%endblock%}

{% block content %}
<content style="display: flex; align-items: center; justify-content: center;">
    <dialog open style="margin: 0; position: relative;">
        <form method="POST">
            {%csrf_token%}
            {{form}}
            <button type="submit" id="abrirPopup">Editar</button>
        </form>
    </dialog>
</content>
{% endblock %}