{% extends 'verCursos.html' %}

{% block content %}
<content>
    <div class="card">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Tel. Apoderado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{error}}
                    {% for datos in usuario %}
                    <tr>
                        <td>{{datos.username}}</td>
                        <td>{{datos.first_name}} {{datos.last_name}}</td>
                        <td>{{datos.telefono}}</td>
                        <td><a href="{%url 'eliminarAlumnoCurso' datos.curso_id datos.id%}"class="opcion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</content>
{% endblock %}