{% extends 'verCursos.html' %}
{%block links%}
<h2 class="headerlink"><a href="{% url 'perfil_ri' %}"></a>Académico</h2> <h2>></h2> <h2 class="headerlink"><a href="{% url 'listaCursos' periodo %}"></a>Cursos</h2><h2>></h2> <h2 class="headerlink"><a href="{% url 'asistenciasCurso' periodo curso.id %}"></a>Asistencia</h2>
{%endblock%}
{% block content %}
<content>
    <div class="card">
        <form method="POST">
            {% csrf_token %}
            <div class="botonera">
                <button type="submit" id="abrirPopup"><svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="white" stroke-width="1.5" stroke-linecap="round"></path> <path d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8" stroke="white" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>Registrar</button>
                <p class="titulo">{{curso}}</p><p class="titulo">{{fecha}}</p>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Asistencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estudiante in estudiantes %}
                        <tr>
                            <td><label for="asistio_{{ estudiante.id }}">{{estudiante.first_name}} {{estudiante.last_name}}</label></td>
                            <td><input type="checkbox" class="asistencia" name = "asistio_{{ estudiante.id }}" id="asistio_{{ estudiante.id }}"></td>   
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</content>
{% endblock %}